@charset "UTF-8";
form {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 20px;
}

.col {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #fff;
    transition: border 0.2s;
}

input:focus,
select:focus {
    border-color: #3498db;
    outline: none;
}

button[type="submit"] {
    background-color: #102E50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Ensures the button/link behaves as inline-block element */
    text-align: center; /* Ensures the text within the button/link is centered */
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #1b70d1;
}

a.register-button{
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #102E50;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #1b70d1;
}